/********************************************
font-family: 'Bungee Hairline', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Megrim', cursive;
font-family: 'Monofett', cursive; 
********************************************/
@font-face {
  font-family: 'vcr_osd_monoregular';
  src: url("vcr_osd_mono_1.001-webfont.woff2") format("woff2"), url("vcr_osd_mono_1.001-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.logo {
  border: 1px solid black;
  border-radius: 12px;
  margin: 2%;
  background-color: rgba(41, 42, 43, 0.9);
  text-align: center;
  font-family: 'Bungee Hairline', cursive;
  font-weight: 200;
  color: white; }

.addCard {
  border: 1px solid black;
  border-radius: 12px;
  margin: 2%;
  background-color: rgba(41, 42, 43, 0.9);
  text-align: center;
  font-family: 'Bungee Hairline', cursive;
  color: white; }

.ruleCategory {
  border: 1px solid black;
  border-radius: 12px;
  margin: 2%;
  background-color: rgba(41, 42, 43, 0.9);
  text-align: center;
  font-family: 'Bungee Hairline', cursive;
  color: white; }

.nav {
  border: 1px solid black;
  border-radius: 12px;
  margin-top: 2%;
  background-color: rgba(41, 42, 43, 0.9);
  font-family: 'Bungee Hairline', cursive;
  text-align: center;
  color: white; }

.header {
  font-family: 'Bungee Hairline', cursive;
  text-align: center;
  background-color: rgba(41, 42, 43, 0.9);
  border: 1px solid black;
  border-radius: 12px;
  color: white; }

#imgResize {
  padding-top: 0.25em;
  width: 20px;
  height: 20px; }

#nameListInput {
  padding: 1px; }

.userUnits {
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgba(235, 168, 179, 0.9);
  font-family: 'Bungee Hairline', cursive;
  text-align: center; }

.userActions {
  border: 1px solid black;
  border-radius: 12px;
  margin-top: 2%;
  background-color: rgba(188, 245, 193, 0.9);
  font-family: 'Bungee Hairline', cursive;
  text-align: center; }

.userUpgrades {
  border: 1px solid black;
  border-radius: 12px;
  margin-top: 2%;
  background-color: rgba(235, 223, 191, 0.9);
  font-family: 'Bungee Hairline', cursive;
  text-align: center; }

.userCards {
  border: 1px solid black;
  border-radius: 12px;
  background-color: rgba(177, 173, 162, 0.9);
  font-family: 'Bungee Hairline', cursive;
  text-align: center;
  list-style-type: none; }

.navBack {
  padding-left: 40px; }

.backgroundImg {
  background: no-repeat;
  background-attachment: fixed; }

.userLists {
  background-color: rgba(41, 42, 43, 0.9);
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  font-family: 'Bungee Hairline', cursive;
  justify-content: flex-end; }

.userLists > button {
  line-height: .4em;
  margin: 2%; }

.userLists > a {
  margin-right: 9%; }

.diceImg {
  padding-top: 0.25em;
  width: 60px;
  height: 60px; }

.diceImg:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

@keyframes shake {
  10%,
    90% {
    transform: translate3d(-1px, 0, 0); }
  20%,
    80% {
    transform: translate3d(2px, 0, 0); }
  30%,
    50%,
    70% {
    transform: translate3d(-4px, 0, 0); }
  40%,
    60% {
    transform: translate3d(4px, 0, 0); } }
.diceBackground {
  background-color: rgba(177, 173, 162, 0.9);
  border-style: inset none;
  border-radius: 25px; }

.mightResult {
  border: 0px solid black;
  border-radius: 12px;
  margin: 2%;
  background-color: rgba(247, 188, 188, 0.9);
  text-align: center;
  font-family: 'Bungee Hairline', cursive; }

.cunningResult {
  border: 0px solid black;
  border-radius: 12px;
  margin: 2%;
  background-color: rgba(193, 247, 188, 0.9);
  text-align: center;
  font-family: 'Bungee Hairline', cursive; }

.intellectResult {
  border: 0px solid black;
  border-radius: 12px;
  margin: 2%;
  background-color: rgba(188, 218, 247, 0.9);
  text-align: center;
  font-family: 'Bungee Hairline', cursive; }

.armorResult {
  border: 0px solid black;
  border-radius: 12px;
  margin: 2%;
  background-color: rgba(224, 226, 114, 0.9);
  text-align: center;
  font-family: 'Bungee Hairline', cursive; }

.evadeResult {
  border: 0px solid black;
  border-radius: 12px;
  margin: 2%;
  background-color: rgba(232, 232, 233, 0.9);
  text-align: center;
  font-family: 'Bungee Hairline', cursive; }

.createList {
  border: 1px solid black;
  border-radius: 12px;
  margin-top: 2%;
  background-color: rgba(41, 42, 43, 0.9);
  color: white;
  font-family: 'Bungee Hairline', cursive;
  text-align: center; }

.scrollbar {
  width: 440px;
  overflow-y: auto;
  height: 200px; }

.addUnit {
  border: 1px solid black;
  border-radius: 12px;
  margin-top: 2%;
  background-color: rgba(151, 93, 78, 0.9);
  font-family: 'Bungee Hairline', cursive;
  text-align: center;
  color: white; }

.addAction {
  border: 1px solid black;
  border-radius: 12px;
  margin-top: 2%;
  background-color: rgba(46, 109, 54, 0.9);
  font-family: 'Bungee Hairline', cursive;
  text-align: center;
  color: white; }

.addUpgrade {
  border: 1px solid black;
  border-radius: 12px;
  background-color: rgba(184, 153, 69, 0.9);
  font-family: 'Bungee Hairline', cursive;
  text-align: center;
  list-style-type: none;
  color: white; }

/*# sourceMappingURL=main.css.map */
