/********************************************
font-family: 'Bungee Hairline', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Megrim', cursive;
font-family: 'Monofett', cursive; 
********************************************/
@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('vcr_osd_mono_1.001-webfont.woff2') format('woff2'), url('vcr_osd_mono_1.001-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.logo {
    border: 1px solid black;
    border-radius: 12px;
    margin: 2%;
    background-color: rgba(188, 218, 247, 0.9);
    text-align: center;
    font-family: 'Bungee Hairline', cursive;
    // font-family: 'vcr_osd_monoregular';
    // font-weight: normal;
    // font-style: normal;
}

.addCard {
    border: 1px solid black;
    border-radius: 12px;
    margin: 2%;
    background-color: rgba(188, 218, 247, 0.9);
    text-align: center;
    font-family: 'Bungee Hairline', cursive;
}

.ruleCategory {
    border: 1px solid black;
    border-radius: 12px;
    margin: 2%;
    background-color: rgba(188, 218, 247, 0.9);
    text-align: center;
    font-family: 'Bungee Hairline', cursive;
}

.nav {
    border: 1px solid black;
    border-radius: 12px;
    margin-top: 2%;
    background-color: rgba(188, 218, 247, 0.9);
    font-family: 'Bungee Hairline', cursive;
    text-align: center;
}

.header {
    font-family: 'Megrim', cursive;
    text-align: center;
    background-color: rgba(245, 245, 148, 0.9);
    border: 1px solid black;
    border-radius: 12px;
}

#arsjsDebugUIContainer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    z-index: 1;
    color: grey;
}

#imgResize {
    padding-top: 0.25em;
    width: 20px;
    height: 20px;
}
#nameListInput {
    padding: 1px;
}
.userUnits {
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgba(235, 168, 179, 0.9);
    font-family: 'Bungee Hairline', cursive;
    text-align: center;
}
.userActions {
    border: 1px solid black;
    border-radius: 12px;
    margin-top: 2%;
    background-color: rgba(188, 245, 193, 0.9);
    font-family: 'Bungee Hairline', cursive;
    text-align: center;
}
.userUpgrades {
    border: 1px solid black;
    border-radius: 12px;
    margin-top: 2%;
    background-color: rgba(235, 223, 191, 0.9);
    font-family: 'Bungee Hairline', cursive;
    text-align: center;
}
.userCards{
    border: 1px solid black;
    border-radius: 12px;
    background-color: rgba(177, 173, 162, 0.9);
    font-family: 'Bungee Hairline', cursive;
    text-align: center;
    list-style-type: none;
}
.navBack {
    padding-left: 40px;
}
.textMight {
    color: red;
}
.textCunning {
    color: green;
}
.textIntelect {
    color: blue;
}

.diceImg{
    padding-top: 0.25em;
    width: 60px;
    height: 60px;
}
.diceBackground {
    background-color: rgba(177, 173, 162, 0.9);
    border-style: inset none;
    border-radius: 25px;
}
.backgroundImg{
    background: no-repeat;
}
//////////////////////////////////////////////////
//              Dice Results                /////
////////////////////////////////////////////////
.mightResult {
    border: 0px solid black;
    border-radius: 12px;
    margin: 2%;
    background-color: rgba(247, 188, 188, 0.9);
    text-align: center;
    font-family: 'Bungee Hairline', cursive;
}
.cunningResult {
    border: 0px solid black;
    border-radius: 12px;
    margin: 2%;
    background-color: rgba(193, 247, 188, 0.9);
    text-align: center;
    font-family: 'Bungee Hairline', cursive;
}
.intellectResult {
    border: 0px solid black;
    border-radius: 12px;
    margin: 2%;
    background-color: rgba(188, 218, 247, 0.9);
    text-align: center;
    font-family: 'Bungee Hairline', cursive;
}
.armorResult {
    border: 0px solid black;
    border-radius: 12px;
    margin: 2%;
    background-color: rgba(224, 226, 114, 0.9);
    text-align: center;
    font-family: 'Bungee Hairline', cursive;
}
.evadeResult {
    border: 0px solid black;
    border-radius: 12px;
    margin: 2%;
    background-color: rgba(232, 232, 233, 0.9);
    text-align: center;
    font-family: 'Bungee Hairline', cursive;
}
////////////////////////////////////////////////////