<div>
    <div class="nav">
        <p>
            <a ng-href="/#!/items/list/rules/">
                Phantom Panic: 1st Edition Rulebook
            </a>
        </p>
    </div>
    <div>
        <h1 class="header">Phase One: The Movement Phase</h1>
        <div id="addUnit" ng-repeat="phaseOne in phaseOneData">
            <p class="addCard">
                <b>{{phaseOne.name}}:</b><br>
                {{phaseOne.description}}<br>
                {{phaseOne.noise}}
            </p>
        </div>
    </div>
</div>