<div>
    <div >
        <p class="nav">
            <a ng-href="/#!/items/list/userLists/">
                Your Lists
            </a>
        </p>
    </div>
    <div>
        <h1>Units Selection</h1>
        <div class="addCard" ng-repeat="unit in unitData">
            <p>{{unit.name}} <button>add</button></p>
        </div>
        <h1>Action Selection</h1>
        <div class="addCard" ng-repeat="action in actionData">
            <p>{{action.name}}<button>add</button></p>
        </div>
        <h1>Upgrade Selection</h1>
        <div class="addCard" ng-repeat="upgrade in upgradeData">
            <p>{{upgrade.name}}<button>add</button></p>
        </div>
    </div>
</div>

