<div>
    <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" ng-href="/#!/items/list/">Home</a>
                <a class="dropdown-item" ng-href="/#!/items/list/userLists/">View Lists</a>
                <a class="dropdown-item" ng-href="/#!/items/list/diceRoller">Dice Roller</a>
                <a class="dropdown-item" href="partials/arToolkit.html">Virtual Toolkit</a>
                <a class="dropdown-item" ng-href="/#!/items/list/rules/">Rulebook</a>
                <a class="dropdown-item" ng-href="/#!/items/list/lore/">Archives</a>
            </div>
        </li>
    </ul>
    <p class="nav">
        <a 
            ng-href="/#!/items/list/viewUserList/{{currentListFBKey}}"
            ng-show="currentListFBKey">
            Go to List
        </a>
    </p>
</div>
<div 
    ng-hide="currentListFBKey"
    class="header">
    Name Your List
    <input 
        type="text" 
        id="nameListInput"
        ng-model="newListName"/>
    <button 
        type="text"   
        ng-click="createList()">
        Create List
    </button>
</div>

<div
    ng-show="currentListFBKey">
    <h1 
        class="addUnit">
        Hero Selection
    </h1>

    <div 
        class="addUnit" 
        ng-repeat="(key, unit) in unitData">
        <p>
            <b>{{unit.name}}</b> 
            ({{unit.faction}})
            <br> 
            <button 
                ng-click="addUnitToNewList(key)">
                add
            </button>
            <div
             ng-hide="addUnitToNewList(key)">
                <p>ADDED!</p>
            </div>
        </p>
    </div>
    <h1 
        class="addAction">
        Action Selection
    </h1>
    <div 
        class="addAction" 
        ng-repeat="(key,action) in actionData">
        <p>
            {{action.name}}
            <br>
            <button
                ng-click="addActionToNewList(key)">
                add
            </button>
        </p>
    </div>
    <h1 
        class="addUpgrade">
        Upgrade Selection
    </h1>
    <div 
        class="addUpgrade" 
        ng-repeat="(key, upgrade) in upgradeData">
        <p>
            {{upgrade.name}}
            <br>
            <button
                ng-click="addUpgradeToNewList(key)">
                add
            </button>
        </p>
    </div>
</div>




