<div>
    <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" ng-href="/#!/items/list/">Home</a>
                <a class="dropdown-item" ng-href="/#!/items/list/userLists/">View Lists</a>
                <a class="dropdown-item" ng-href="/#!/items/list/diceRoller">Dice Roller</a>
                <a class="dropdown-item" href="partials/arToolkit.html">Virtual Toolkit</a>
                <a class="dropdown-item" ng-href="/#!/items/list/rules/">Rulebook</a>
                <a class="dropdown-item" ng-href="/#!/items/list/lore/">Archives</a>
            </div>
        </li>
    </ul>
</div>
<div class="diceBackground">
    <input
        class="diceImg"
        type="image"  
        src="images/mightDie.png" 
        ng-click="mightResult(); eraseResults()">
    </input>
    <input 
        class="diceImg"
        type="image"  
        src="images/cunningDie.png" 
        ng-click="cunningResult(); eraseResults()">
    </input>
    <input
        class="diceImg" 
        type="image"  
        src="images/intellectDie.png" 
        ng-click="intellectResult(); eraseResults()">
    </input><br>
    <input 
        class="diceImg"
        type="image"  
        src="images/armorDie.png" 
        ng-click="armorResult(); eraseResults()">
    </input>
    <input 
        class="diceImg"
        type="image"  
        src="images/evadeDie.png" 
        ng-click="evadeResult(); eraseResults()">
    </input>

</div>
<div class="mightResult">
    {{mightRollResult}}
</div>
<div class="cunningResult">
    {{cunningRollResult}}
</div>
<div class="intellectResult">
    {{intellectRollResult}}
</div>
<div class="armorResult">
    {{armorRollResult}}
</div>
<div class="evadeResult">
    {{evadeRollResult}}
</div>

