<div ng-style="{'background-image':'url(library/images/hexGrid1.png)'}">
    <div class="nav">
        <h1>Your Profile</h1>
        <p>
            <a ng-href="/#!/items/list/userLists/">
                View Lists
            </a>
        </p>
        <p>
            <a ng-href="/#!/items/list/rules/">
                Phantom Panic: 1st Edition Rulebook
            </a>
        </p>
        <p>
            <a ng-href="/#!/items/list/lore/">
                Explore the Galaxy of Phantom Panic
            </a>
        </p>
    </div>
</div>

