<div>
    <h1>
        Rules
    </h1>
        <div class="nav">
            <p>
                <a ng-href="/#!/items/list">
                    Profile
                </a>
            </p>
            <p>
                <a ng-href="/#!/items/list/userLists/">
                    Your Lists
                </a>
            </p>
            <p>
                <a ng-href="/#!/items/list/lore/">
                    Explore the Galaxy of Phantom Panic
                </a>
            </p>
        </div>

</div>