<div>

        <div class="nav">
            <p>
                <a ng-href="/#!/items/list">
                    Profile
                </a>
            </p>
            <p>
                <a ng-href="/#!/items/list/userLists/">
                    Your Lists
                </a>
            </p>
            <p>
                <a ng-href="/#!/items/list/lore/">
                    Explore the Galaxy of Phantom Panic
                </a>
            </p>
        </div>
        <div class="rules">
            <h1>
                Phantom Panic: 1st Edition Rulebook
            </h1>
            <p>
            <a ng-href="/#!/items/list/rules/movementPhase/">
                Movement Phase
            </a>
            </p>
            <p>
            <a ng-href="/#!/items/list/rules/actionPhase/">
                Action Phase 
            </a>
            </p>
            <p>
            <a ng-href="/#!/items/list/rules/resolutionPhase/">
                Resolution Phase
            </a>
            </p>
            <p>
                <a ng-href="/#!/items/list/rules/aiUnits/">
                    Non-player Unit Control
                </a>
            </p>
        </div>

</div>