<div>
    <div>
        <p class="nav">
            <a ng-href="/#!/items/list/">
                Profile
            </a>
        </p>
        <p class="nav">
            <a ng-href="/#!/items/list/rules/">
                Phantom Panic: 1st Edition Rulebook
            </a>
        </p>
        <p class="nav">
            <a ng-href="/#!/items/list/lore/">
                Explore the Galaxy of Phantom Panic
            </a>
        </p>
    </div>
    <h1>User Lists</h1>
    <div class="listView">
        <p>
            <a ng-href="/#!/items/list/userLists/createList/">
                Create New List
            </a>
        </p>
    </div>
</div>