<div>
    <div>
        <p class="nav">
            <a ng-href="/#!/items/list/">
                Profile
            </a>
        </p>
        <p class="nav">
            <a ng-href="/#!/items/list/rules/">
                Phantom Panic: 1st Edition Rulebook
            </a>
        </p>
        <p class="nav">
            <a ng-href="/#!/items/list/lore/">
                Explore the Galaxy of Phantom Panic
            </a>
        </p>
    </div>
    <h1 class="header">Your Squads</h1>
    <div class="listView">
        <p class="nav">
            <a ng-href="/#!/items/list/userLists/createList/">
                Create New List
            </a>
        </p>
        <div ng-repeat="(key, list) in userListData">
            <p class="nav">
                <a ng-href="/#!/items/list/viewUserList/{{key}}">
                {{list.listName}}</a><br>
                Wins:{{list.wins}}
                Losses:{{list.losses}}<br>
                <button><a ng-href="/#!/items/list/userLists/createList">Add to List</a></button>
                <button ng-click="deleteUserList(key)">Delete</button>
            </p>
        </div>
    </div>
</div>
