<div>
    <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" ng-href="/#!/items/list/">Home</a>
                <a class="dropdown-item" ng-href="/#!/items/list/userLists/">View Lists</a>
                <a class="dropdown-item" ng-href="/#!/items/list/diceRoller">Dice Roller</a>
                <a class="dropdown-item" href="partials/arToolkit.html">Virtual Toolkit</a>
                <a class="dropdown-item" ng-href="/#!/items/list/rules/">Rulebook</a>
                <a class="dropdown-item" ng-href="/#!/items/list/lore/">Archives</a>
            </div>
        </li>
    </ul>
    <h1 class="header">{{$scope.newListName}}</h1>
</div>
<div 
    class="userCards"
    ng-repeat=" (key, unit) in userUnitArray track by $index">
    <p class="userUnits">
        <u><b>{{unit.name}}</b></u>
        ({{unit.cost}} pts.)
            <button 
                ng-click="deleteUserListUnit(unit.relationshipId)">
                Delete
            </button><br>
        -{{unit.faction}}-<br>
    </p>
        Mgt:{{unit.might}}<br>
        Cng:{{unit.cunning}}<br>
        Int:{{unit.intellect}}<br>
</div>
<div 
    class="userCards"
    ng-repeat=" (key, action) in userActionArray track by $index">
    <p class="userActions">
        <u><b>{{action.name}}</b></u>
        ({{action.cost}} pts.)<br>
        <button 
            ng-click="deleteUserListAction(action.relationshipId)">
            Delete
        </button><br>
    </p>
        Mgt:{{action.might}}<br>
        Cng:{{action.cunning}}<br>
        Int:{{action.intellect}}<br>
    </p>
</div>
<div 
    class="userCards"
    ng-repeat=" (key, upgrade) in userUpgradeArray track by $index">
    <p class="userUpgrades">
        <u><b>{{upgrade.name}}</b></u>
        ({{upgrade.cost}} pts.)<br>
        <button 
            ng-click="deleteUserListUpgrade(upgrade.relationshipId)">
            Delete
        </button>
        <br>
    </p>
        {{upgrade.description}}<br>

    </p>
    </p>
</div>

